

body{
    font-family: monospace;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
.top{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.top .left-s1{
    width: 50%;
    margin: 15px 0 0 30px;
}
.top .left-s1 a{
    text-decoration: none;
    background-image: linear-gradient(#FAC213,#F77E21);
    color: white;
    border-radius: 15px;
    font-weight: 900;
    padding: 10px 40px;
}



.top .right-s1{
    width: 50%;
}
.top .right-s1 img{
    width: 90%;

}

.mid{
    display: flex;
    margin-top: 50px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}
.mid .left-s2{
    width: 50%;
}
.mid .left-s2 img{
    width: 90%;
    margin-left: -10px;
}
.mid .right-s2{
    width: 50%;
    margin-top: 30px;
    margin-right: 30px;
    text-align: justify; 
}
.mid .right-s2 a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 15px;
    background-image: linear-gradient(orange,rgb(247, 142, 56));
}
.last{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: center;
}

.last .flex-container{
    display: flex;
    margin-bottom: 100px;
}

.last .flex-container .left-s3{
    width: 40%;  
}
.last .flex-container .right-s3{
    width: 40%;
}
.shadow{
    margin-left: 40px;
    margin-right: 20px;
    padding: 15px 20px;
    box-shadow: 10px 10px 30px gray;
}